<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <webSocket enabled="false" />
    <handlers>
      <!-- This will handle requests to any path -->
      <add name="iisnode" path="node_modules/next/dist/bin/next" verb="*" modules="iisnode" responseErrorMessage="Node.js and npm modules are required to run this application." />
    </handlers>
    <rewrite>
      <rules>
        <rule name="LogFile">
          <action type="Rewrite" url="iisnode" />
        </rule>
        <rule name="Static Content" stopProcessing="true">
          <match url="^(?!.*\\.)(.*)$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url=".next/server/pages{REQUEST_PATH}" />
        </rule>
        <rule name="HTML Files" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="index.html" />
        </rule>
      </rules>
    </rewrite>
    <iisnode watchedFiles="web.config;*.js" />
  </system.webServer>
</configuration>
